.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--white-100, #fff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: calc(10px + 2vmin);
  font-style: normal;
  font-weight: 500;
  color: var(--Secondary-color, #4b5563);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lesson-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px; /* Adjust based on your preference */
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 48%; /* Adjust the width for spacing between two columns */
  margin-bottom: 10px;
}

.lesson-plan input,
.lesson-plan select,
.lesson-plan button,
.lesson-plan input[type="radio"] {
  margin-top: 5px;
}

.response {
  margin: 20px auto;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  width: 80%;
}
